body {
  background: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/bright_squares.png');
}
.game-window {
}

.header {
  text-align: center;
  font-size: 50px;
}

canvas {
  margin: auto;
  display:block;
  box-shadow: 0px 0px 20px #888888;
  background-color: white;
}

.stats {
  margin: auto;
  display: block;
  text-align: center;
  font-size: 24px;
}

.stat {
  margin: 10px;
  padding: 10px;
  display: inline-block;
}

#time {
  background-color: rgba(75, 255, 56, 0.6);
}

#speed {
  background-color: rgb(144, 154, 237);
}

#lines {
  background-color: rgb(125,242,245);
}

#points {
  background-color: rgb(255, 245, 154);
}

.gameover {
  visibility: hidden;
  margin: auto;
  box-shadow: 0px 0px 20px #888888;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px;
  text-align: center;
}
.gameover .footer {
  margin-top: 30px
}

.github {
  margin-top: 5px
}
